<nav
    class="navbar navbar-expand-sm navbar-light bg-light navbar-custom"
>
    <div class="container">
        <a style="font-size: x-large; font-family: Monaspace Krypton;" class="navbar-brand" href="#">Animes</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a style="font-family: Monaspace Krypton; font-size: large;" class="nav-link" routerLinkActive="active color colorMine" routerLink="/animes" aria-current="page"
                        >Animes
                        <span class="visually-hidden">(current)</span></a
                    >
                </li>
                <li class="nav-item">
                    <a style="font-family: Monaspace Krypton; font-size: large;" class="nav-link" routerLinkActive="active colorMine" routerLink="/personajes">Personajes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>